# Jupyter Notebook Shortcuts

- **Esc** will take you into command mode where you can navigate around your notebook with arrow keys.   
** While in command mode: **
- A to insert a new cell above the current cell, B to insert a new cell below.
- M to change the current cell to Markdown, Y to change it back to code
- D + D (press the key twice) to delete the current cell
- Enter will take you from command mode back into edit mode for the given cell.
- Shift + Tab will show you the Docstring (documentation) for the the object you have just typed in a code cell - you can keep pressing this short cut to cycle through a few modes of documentation.
- Ctrl + Shift + - will split the current cell into two from where your cursor is.
- Esc + F Find and replace on your code but not the outputs.
- Esc + O Toggle cell output.
- Select Multiple Cells:
    - Shift + J or Shift + Down selects the next sell in a downwards direction. You can also select sells in an upwards direction by using Shift + K or Shift + Up.
    -Once cells are selected, you can then delete / copy / cut / paste / run them as a batch. This is helpful when you need to move parts of a notebook.
    - You can also use Shift + M to merge multiple cells.

# Introduction to Python Statements

In this lecture we will be doing a quick overview of Python Statements. This lecture will emphasize differences between Python and other languages such as C++. 

There are two reasons we take this approach for learning the context of Python Statements:

    1.) If you are coming from a different language this will rapidly accelerate your understanding of Python.
    2.) Learning about statements will allow you to be able to read other languages more easily in the future.

## Python vs Other Languages

Let's create a simple statement that says:
"If a is greater than b, assign 2 to a and 4 to b"

Take a look at these two if statements (we will learn about building out if statements soon).

**Version 1 (Other Languages)**

    if (a>b){
        a = 2;
        b = 4;
    }
                        
**Version 2 (Python)**   

    if a>b:
        a = 2
        b = 4

You'll notice that Python is less cluttered and much more readable than the first version. How does Python manage this?

Let's walk through the main differences:

Python gets rid of () and {} by incorporating two main factors: a *colon* and *whitespace*. The statement is ended with a colon, and whitespace is used (indentation) to describe what takes place in case of the statement.

Another major difference is the lack of semicolons in Python. Semicolons are used to denote statement endings in many other languages, but in Python, the end of a line is the same as the end of a statement.

Lastly, to end this brief overview of differences, let's take a closer look at indentation syntax in Python vs other languages:

## Indentation

Here is some pseudo-code to indicate the use of whitespace and indentation in Python:

**Other Languages**

    if (x)
        if(y)
            code-statement;
    else
        another-code-statement;
        
**Python**
    
    if x:
        if y:
            code-statement
    else:
        another-code-statement

Note how Python is so heavily driven by code indentation and whitespace. This means that code readability is a core part of the design of the Python language.

Now let's start diving deeper by coding these sort of statements in Python!

## Time to code!

# BASIC ELEMENTS OF PYTHON

## Data Types
 - Integers
 - Float
 - Strings

## Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Object Assignment in Python

## Types of numbers

- Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

- Integers are just whole numbers, positive or negative. 
    - For example: 2 and -2 are examples of integers.

- Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. 
    - For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

### Basic Arithmetic

In [ ]:
# Addition
2+1

In [ ]:
# Subtraction
2-1

In [ ]:
# Multiplication
2*2

In [ ]:
# Division
3/2

In [ ]:
# Floor Division
3//2

In [ ]:
# Specifying one of the numbers as a float
3.0/2

In [ ]:
# Works for either number
3/2.0

- We could also "cast" the type using a function that basically turns integers into floats. This function, unsurprisingly, is called float().

In [ ]:
# We can use this float() function to cast integers as floats:
float(3)/2

In [ ]:
# Powers
2**3

In [ ]:
# Can also do roots this way
4**0.5

In [ ]:
# Order of Operations followed in Python -- PEMDAS 
#[Paranthesis,Exponentiation,Multiplication,Addition,Subtraction]
2 + 10 * 10 + 3

In [ ]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [ ]:
# Adding the objects
a+a

What happens on reassignment? Will Python let us write it over?

In [ ]:
# Reassignment
a = 10

In [ ]:
# Check
a

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [ ]:
# Check
a

In [ ]:
# Use A to redefine A
a = a + a

In [ ]:
# Check 
a

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    3. It's considered best practice (PEP8) that the names are lowercase.

Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about User Input!

# Scope of a variable

- Whenever an identifier is assigned to a value, that definition is made with a specific scope. 
- Top-level assignments are typically made in what is known as global scope. 
- Assignments made within the body of a function typically have scope that is local to that function call. Therefore, an assignment, x = 5, within a function has no effect on the identifier, x, in the broader scope.
- LEGB Rule.

    - L, Local — Names assigned in any way within a function (def or lambda)), and not declared global in that function.

    - E, Enclosing-function locals — Name in the local scope of any and all statically enclosing functions (def or lambda), from inner to outer.

    - G, Global (module) — Names assigned at the top-level of a module file, or by executing a global statement in a def within the file.

    - B, Built-in (Python) — Names preassigned in the built-in names module : open,range,SyntaxError,...

In [ ]:
def test1():
    x = 10
    print(x)
test1()# prints x
type(x)# gives an error as x is not foundin the scope

# USER INPUT

In [ ]:
#The input from console can be triggered with input() function
a = input("Please enter the value for a:")
print(a)

# Types

In [ ]:
a = 1
b = 2.0
c = "abc"
d = input()

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
type(c)

In [ ]:
type(d)

# Exercise

1.Accept 2 numbers from the user and:
    - Print the biggest number
    - print the difference
    - The difference when b is subtracted from a
    - The product of a and b
    - The quotient when a is divided by b
    - The remainder when a is divided by b
    - The result of log10 a
    - The result of a power b
    - swap both the numbers and print both numbers

2.Write a program that asks the user to enter the width and length of a room. Once
the values have been read, your program should compute and display the area of the
room. The length and the width will be entered as floating point numbers.

3.Create a program that reads the length and width of a farmer’s field from the user in
feet. Display the area of the field in acres.There are 43,560 square feet in an acre.

4.In many jurisdictions a small deposit is added to drink containers to encourage people
to recycle them. In one particular jurisdiction, drink containers holding one liter or
less have a \$0.10 deposit, and drink containers holding more than one liter have a
$ 0.25 deposit.
Write a program that reads the number of containers of each size from the user.
Your program should continue by computing and displaying the refund that will be
received for returning those containers. Format the output so that it includes a dollar
sign and always displays exactly two decimal places.
hint: print('Floating point numbers: %10.2f' %(13.144)) will print 13.14 - more will be discussed in print formatting lecture

5.The program that you create for this exercise will begin by reading the cost of a meal
ordered at a restaurant from the user. Then your program will compute the tax and
tip for the meal. Use your local tax rate when computing the amount of tax owing.
Compute the tip as 18 percent of the meal amount (without the tax). The output from
your program should include the tax amount, the tip amount, and the grand total for
the meal including both the tax and the tip. Format the output so that all of the values
are displayed using two decimal places.

6.Write a program that reads a positive integer, n, from the user and then displays the
sum of all of the integers from 1 to n. The sum of the first n positive integers can be
computed using the formula:
sum = (n) * (n + 1) / 2

7.An online retailer sells two products: widgets and gizmos. Each widget weighs 75
grams. Each gizmo weighs 112 grams. Write a program that reads the number of
widgets and the number of gizmos in an order from the user. Then your program
should compute and display the total weight of the order.

8.Pretend that you have just opened a new savings account that earns 4 percent interest
per year. The interest that you earn is paid at the end of the year, and is added
to the balance of the savings account. Write a program that begins by reading the
amount of money deposited into the account from the user. Then your program should
compute and display the amount in the savings account after 1, 2, and 3 years. Display
each amount so that it is rounded to 2 decimal places.

9.Consider the software that runs on a self-checkout machine. One task that it must be
able to perform is to determine how much change to provide when the shopper pays
for a purchase with cash.
Write a program that begins by reading a number of cents from the user as an
integer. Then your program should compute and display the denominations of the
coins that should be used to give that amount of change to the shopper. The change
should be given using as few coins as possible. Assume that the machine is loaded
with pennies, nickels, dimes, quarters.

### - - More Exercises to come we are just beginning to learn :)

# Comparison Operators 

In this lecture we will be learning about Comparison Operators in Python. These operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

## Table of Comparison Operators

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [3]:
2 == 2

True

In [4]:
1 == 0

False

#### Not Equal

In [5]:
2 != 1

True

In [6]:
2 != 2

False

In [7]:
2 <> 1

True

In [8]:
2 <> 2

False

#### Greater Than

In [9]:
2 > 1

True

In [10]:
2 > 4

False

#### Less Than

In [11]:
2 < 4

True

In [12]:
2 < 1

False

#### Greater Than or Equal to

In [13]:
2 >= 2

True

In [14]:
2 >= 1

True

#### Less than or Equal to

In [15]:
2 <= 2

True

In [16]:
2 <= 4

True

**Great! Go over each comparison operator to make sure you understand what each one is saying. But hopefully this was straightforward for you**

Next we will cover chained comparison operators

# BRANCHING

#if,elif,else Statements

if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with elif and else statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else if another case happens, perform some other action. Else-- none of the above cases happened, perform this action"

Let's go ahead and look at the syntax format for if statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action 3

## First Example

Let's see a quick example of this:

In [ ]:
if True:
    print('It was true!')

Let's add in some else logic:

In [ ]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

### Multiple Branches

Let's get a fuller picture of how far if, elif, and else can take us!

We write this out in a nested structure. Take note of how the if,elif,and else line up in the code. This can help you see what if is related to what elif or else statements.

We'll reintroduce a comparison syntax for Python.

In [ ]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print("Where are you?")

Note how the nested if statements are each checked until a True boolean causes the nested code below it to run. You should also note that you can put in as many elif statements as you want before you close off with an else.

Let's create two more simple examples for the if,elif, and else statements:

In [ ]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?" )

In [ ]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print("Welcome George!")
else:
    print("Welcome, what's your name?")

## Indentation

It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!

# Exercises

Even or Odd?

Name that Shape

Month Name to Number of Days

Letter Grade to Grade Points

Is it a Leap Year?

Roulette Payouts

## End of Branching... let's start the super loops

# ITERATION

#range()

In this short lecture we will be discussing the range function. We haven't developed a very deep level of knowledge of functions yet, but we can understand the basics of this simple (but extremely useful!) function.

range() allows us to create a list of numbers ranging from a starting point *up to* an ending point. We can also specify step size. Lets walk through a few examples:

In [ ]:
range(0,10)

In [ ]:
x =range(0,10)
type(x)

In [ ]:
start = 0 #Default
stop = 20 
x = range(start,stop)

In [ ]:
x

Great! Notice how it went *up to* 20, but doesn't actually produce 20. Just like in indexing. What about step size? We can specify that as a third argument:

In [ ]:
x = range(start,stop,2)
#Show
x

# for Loops

A **for** loop acts as an iterator in Python, it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

We've already seen the **for** statement a little bit in past lectures but now lets formalize our understanding.

Here's the general format for a **for** loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside you loop, for example if you wanted to use if statements to perform checks.

Let's go ahead and work through several example of **for** loops using a variety of data object types. we'll start simple and build more complexity later on.

## Example 1  
Iterating through a list.

In [ ]:
# We'll learn how to automate this sort of list in the next lecture
lst = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in lst:
    print(num)

In [ ]:
for num in lst:
    if num % 2 == 0:
        print(num)

We could have also put in else statement in there:

In [ ]:
for num in lst:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

## Example 3
Another common idea during a **for** loop is keeping some sort of running tally during the multiple loops. For example, lets create a for loop that sums up the list:

In [ ]:
# Start sum at zero
list_sum = 0 

for num in lst:
    list_sum = list_sum + num

print(list_sum)

# while loops

The **while** statement in Python is one of most general ways to perform iteration. A **while** statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statement
    else:
        final code statements

Let’s look at a few simple while loops in action.

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

Notice how many times the print statements occurred and how the while loop kept going until the True condition was met, which occurred once x==10. Its important to note that once this occurred the code stopped. Lets see how we could add an else statement:

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

# break, continue, pass

We can use break, continue, and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about **break** and **continue** statements, the general format of the while loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

**break** and **continue** statements can appear anywhere inside the loop’s body,but we will usually put them further nested in conjunction with an **if** statement to perform an action based on some condition.

Lets go ahead and look at some examples!

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x ==3:
        print('x==3')
    else:
        print('continuing...')
        continue

Note how we have a printed statement when x==3, and a continue being printed out as we continue through the outer while loop. Let's put in a break once x ==3 and see if the result makes sense:

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x ==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

Note how the other else statement wasn't reached and continuing was never printed!

After these brief but simple examples, you should feel comfortable using while statements in you code.

**A word of caution however! It is possible to create an infinitely running loop with while statements. For example:**

In [ ]:
# DO NOT RUN THIS CODE!!!! 
while True:
    print('Uh Oh infinite Loop!')

# Print Formatting

In this lecture we will briefly cover the various ways to format your print statements. As you code more and more, you will probably want to have print statements that can take in a variable into a printed string statement.

The most basic example of a print statement is:

In [1]:
print('This is a string')

This is a string

## Strings
You can use the %s to format strings into your print statements.

In [1]:
s = 'something to print'
print('Place another string with a mod and s: %s' %(s))

Place another string with a mod and s: something to print

In [15]:
print('Place another string with a mod and s: %s' %('Hi'))

Place another string with a mod and s: Hi

##Floating Point Numbers
Floating point numbers use the format %n1.n2f where the n1 is the total minimum number of digits the string should contain (these may be filled with whitespace if the entire number does not have this many digits. The n2 placeholder stands for how many numbers to show past the decimal point. Lets see some examples:

In [11]:
print('Floating point numbers: %0.2f' %(13.144))

Floating point numbers: 13.14

In [16]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [14]:
print('Floating point numbers: %1.5f' %(13.144))

Floating point numbers: 13.14400

In [15]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [19]:
print('Floating point numbers: %25.2f' %(13.144))

Floating point numbers:                     13.14

##Conversion Format methods.
It should be noted that two methods %s and %r actually convert any python object to a string using two separate methods: str() and repr(). We will learn more about these functions later on in the course, but you should note you can actually pass almost any Python object with these two methods and it will work:

In [23]:
print('Here is a number: %s. Here is a string: %s' %(123.1,'hi'))

Here is a number: 123.1. Here is a string: hi

In [24]:
print('Here is a number: %r. Here is a string: %r' %(123.1,'hi'))

Here is a number: 123.1. Here is a string: 'hi'

##Multiple Formatting
Pass a tuple to the modulo symbol to place multiple formats in your print statements:

In [22]:
print('First: %s, Second: %1.2f, Third: %r' %('hi!',3.14,22))

First: hi!, Second: 3.14, Third: 22

#Using the string .format() method
The best way to format objects into your strings for print statements is using the format method. The syntax is:

    'String here {var1} then also {var2}'.format(var1='something1',var2='something2')
    
Lets see some examples:

In [27]:
print('This is a string with an {p}'.format(p='insert'))

This is a string with an insert

In [14]:
# Multiple times:
print('One: {p}, Two: {p}, Three: {p}'.format(p='Hello!'))

One: Hello!, Two: Hello!, Three: Hello!

In [29]:
# Several Objects:
print('Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(a=1,b='two',c=12.3))

Object 1: 1, Object 2: two, Object 3: 12.3

That is the basics of string formatting! Remember that Python 3 uses a print() function, not the print statement!

# Exercise

1.Times Table - Acccept a number from the user and print the multiplication table for the number

2.Accept a number and print the number pyramid

3.Inverse a number -  Accept a 4 digit number and inverese the number eg: 1234 will be displayed as 4321

4.sum of all numbers - Accept a 4 digit number and display the sum of all digits in the number eg: 1234= 1+2+3+4 = 10